html {
    text-align: center;
    font-family: monospace;
    background-color: black;
    color: white;
}
#lvlbar {
    width: 80%;
    margin: auto;
    height: 20px;
    background-color: gray;
    border: 2px solid gray;
    border-radius: 4px;
    overflow: hidden;
}
#barprog {
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, cyan 0%, cyan 65%, #0099ff 100%);
    transition: width ease 0.15s;
    border-radius: 4px;
}
.progress-small {
    width: 50%;
    margin: auto;
    margin-bottom: 4px;
    height: 4px;
    background-color: gray;
    border: 1px solid gray;
    overflow: hidden;
    border-radius: 2px;
}
.progress-small-val {
    height: 100%;
    transition: width ease 0.15s;
    border-radius: 2px;
}
#main {
    -webkit-column-break-inside: avoid-column;
    page-break-inside: avoid;
    break-inside: avoid-column;
}
.panel {
    display: inline-block;
    border: 2px solid gray;
    width: 95%;
    margin: auto;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 6px;
}
button {
    background-color: #444444;
    border: gray solid 1px;
    padding: 4px;
    border-radius: 4px;
    color: white;
    transition: background-color 0.1s;
}
button:hover {
    background-color: #666666;
}
button:active {
    background-color: #888888;
}
@keyframes indeterminate {
    0% {
        width: 0%;
        margin-left: 0%;
    }
    50% {
        width: 100%;
        margin-left: 0%;
    }
    100% {
        width: 0%;
        margin-left: 100%;
    }
}